section.block__banner_wrapper {
  text-align: center;

  h1 {
    background-color: #fff;

    @include mq('tablet') {
      font-size: 3rem;
    }

    @include mq('desktop') {
      font-size: 2vw;
    }
  }
}