.container__custom {
  width: 100%;
  padding-left: $padding-gutter;
  padding-right: $padding-gutter;
  margin-left: auto;
  margin-right: auto;

  @include mq($until: 'desktop-wide') {
    padding-left: $padding-gutter - ($padding-gutter/8.5);
    padding-right: $padding-gutter - ($padding-gutter/8.5);
  }

  @include mq($until: 'desktop') {
    padding-left: $padding-gutter - ($padding-gutter/7.5);
    padding-right: $padding-gutter - ($padding-gutter/7.5);
  }

  @include mq($until: 'tablet-wide') {
    padding-left: $padding-gutter - ($padding-gutter/6.5);
    padding-right: $padding-gutter - ($padding-gutter/6.5);
  }

  @include mq($until: 'tablet') {
    padding-left: $padding-gutter - ($padding-gutter/3);
    padding-right: $padding-gutter - ($padding-gutter/3);
  }

  @include mq($until: 'phablet') {
    padding-left: $padding-gutter - ($padding-gutter/2);
    padding-right: $padding-gutter - ($padding-gutter/2);
  }

  @include mq($until: 'phone-wide') {
    padding-left: 0;
    padding-right: 0;

    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

$medium-padding-gutter: $padding-gutter / 2;

.medium_container__custom {
  width: 100%;
  padding-left: $medium-padding-gutter;
  padding-right: $medium-padding-gutter;
  margin-left: auto;
  margin-right: auto;

  @include mq($until: 'desktop-wide') {
    padding-left: $medium-padding-gutter - ($medium-padding-gutter/8.5);
    padding-right: $medium-padding-gutter - ($medium-padding-gutter/8.5);
  }

  @include mq($until: 'desktop') {
    padding-left: $medium-padding-gutter - ($medium-padding-gutter/7.5);
    padding-right: $medium-padding-gutter - ($medium-padding-gutter/7.5);
  }

  @include mq($until: 'tablet-wide') {
    padding-left: $medium-padding-gutter - ($medium-padding-gutter/6.5);
    padding-right: $medium-padding-gutter - ($medium-padding-gutter/6.5);
  }

  @include mq($until: 'tablet') {
    padding-left: $medium-padding-gutter - ($medium-padding-gutter/3);
    padding-right: $medium-padding-gutter - ($medium-padding-gutter/3);
  }

  @include mq($until: 'phablet') {
    padding-left: $medium-padding-gutter - ($medium-padding-gutter/2);
    padding-right: $medium-padding-gutter - ($medium-padding-gutter/2);
  }

  @include mq($until: 'phone-wide') {
    padding-left: 0;
    padding-right: 0;

    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
}