.fixed-core {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 25;

  &.left.no-margin {
    left:0;
  }

  &.left {
    left: 0;
    margin-left: 1rem;
  }

  &.right.no-margin {
    right: 0;
  }

  &.right {
    right: 0;
    margin-right: 1rem;
  }

  &.show {
    visibility: initial;
    opacity: 1;

    @include animation("fade .4s ease");
  }
}