@mixin font-source($font-family, $size_tablet: false, $size_desktop: false,
                   $colour: false, $weight: false, $lh: false) {
  font-family: $font-family, 'Source Sans Pro', Helvetica, Arial, sans-serif;

  @if $size_tablet {
    @include mq('tablet') {
      font-size: $size_tablet;
    }
  }

  @if $size_desktop {
    @include mq('desktop') {
      font-size: $size_tablet;
    }
  }

  @if $colour { color: $colour; }

  @if $weight { font-weight: $weight; }

  @if $lh { line-height: $lh; }
}

@mixin background-opacity($color: #000, $opacity: 0.85) {
  background: $color;
  background: rgba($color, $opacity);
}

@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
  -webkit-transition: $what $time $how;
  -moz-transition:    $what $time $how;
  -ms-transition:     $what $time $how;
  -o-transition:      $what $time $how;
  transition:         $what $time $how;
}

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

@mixin truncate($truncation-boundary:auto) {
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Keep images from scaling beyond the width of their parents.
@mixin img-responsive($display: block) {
  display: $display;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} { @content ; }

  @-moz-keyframes #{$animation-name} { @content ; }

  @-ms-keyframes #{$animation-name} { @content ; }

  @-o-keyframes #{$animation-name} { @content ; }

  @keyframes #{$animation-name} { @content ; }
}


@mixin order($number) {
  // Need block wrapper with the placeholder block_with_order
  -webkit-box-ordinal-group: $number;
  -moz-box-ordinal-group: $number;
  -ms-flex-order: $number;
  -webkit-order: $number;
  order: $number;
}

@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -khtml-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

@mixin background-size($width: 100%, $height: $width) {
  @if type-of($width) == 'number' and $height != null {
    @include css3-prefix('background-size', $width $height);
  }

  @else {
    @include css3-prefix('background-size', $width);
  }
}

@mixin animation($str) {
  @include css3-prefix('animation', $str);
}

@mixin ellipsisInVertical($lineHeight, $numberLines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $numberLines;
  line-height: $lineHeight;
  max-height: $lineHeight * $numberLines;
}

@mixin text-shadow($level:10px, $color: lighten(black, 10)) {
  @include css3-prefix("text-shadow", "0 0 #{$level} #{$color}");
}

@mixin rotate($deg: 90) {
  $deg: #{$deg}deg;

  @include css3-prefix("transform", "#{rotate($deg)}");
}

@mixin only-firefox {
  // https://stackoverflow.com/questions/952861/targeting-only-firefox-with-css
  @-moz-document url-prefix() {
    @content;
  }
}

@mixin pseudo-awesome($unicode) {
  content: unicode($unicode);
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}