$color-default: #fff;

%extend-button-concept {
  // Example of button
  text-transform: uppercase;
  padding: 1em 2em;
  background-color: transparent;
  border: 2px solid $color-default;
  cursor: pointer;

  @include transition(background-color, .2s, ease);
  @include font-source($neuebool_italic, 1.25vw, #616264);

  &:hover {
    border-color: $color-default;
    background-color: $color-default;
    color: white;
  }

  &:active,
  &.active {
    background-color: lighten($color-default, 10);
    border-color: lighten($color-default, 10);
    color: white;
  }
}

%padding-zero {
  // Util for bootstrap grids without padding
  padding-right: 0 !important;
  padding-left: 0 !important
}

%standard-mt-mb {
  margin-top: $standard-margin-bottom;
  margin-bottom: $standard-margin-bottom;
}

%box-shadow-mercadolibre {
  @include css3-prefix(box-shadow, "0 1px 1px 0 rgba(0,0,0,0.1), 0 -1px 2px 0 rgba(0,0,0,0.1)");
}

%normalize-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

%normalize-anchor {
  &:hover {
    text-decoration: none;
  }
}

%transparent-gradient-shadow {
  background-image: -webkit-gradient(
                  linear, left top, left bottom,
                  from(rgba(80,80,80,0.2)),
                  to(rgba(50,50,50,0.8)),
                  color-stop(.5,rgba(181, 85, 85, 0))
  );
  background-image: -moz-linear-gradient(
                  rgba(80,80,80,0.2) 78%,
                  rgba(50,50,50,0.8) 100%
  );
}

%overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

%capital-first {
  &:first-letter {
    text-transform: uppercase;
  }
}

%block-with-order {
  flex-direction: column;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
}

%container-center-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

%button-radius {
  padding: 1.5% 18%;
  color: white;
  border-radius: 25px;
  border: 1px solid white;
  background-color: white;
  cursor: pointer;
  text-decoration: none !important;

  @include transition(all, .2s, ease);

  &:hover {
    color: white;
    border: 1px solid white;
    background-color: white;
  }
}

%p-with-a {
  p {
    font-size: 2rem;
    font-weight: 200;
    color: $general;

    a {
      font-weight: bold;
    }
  }
}