/* 
    Structure:

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
        <symbol id="checkmark" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-miterlimit="10" fill="none"  d="M22.9 3.7l-15.2 16.6-6.6-7.1">
            </path>
        </symbol>
    </svg>

    <div class="promoted-checkbox">
      <input id="tmp" type="checkbox" class="promoted-input-checkbox"/>
      <label for="tmp">
          <svg><use xlink:href="#checkmark" /></svg>
          Save recipient
      </label>
    </div> 
  
*/


@keyframes draw-checkbox {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

$checkbox_dimension: 1.5em;
$grey: white;
$extralightgrey: lighten($grey, 10);

.promoted-input-checkbox {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &:disabled {
    ~ label { // Super cool style !

      color: $extralightgrey !important;

      &:after {
        border-color: $extralightgrey !important;
      }
    }
  }
}

.promoted-checkbox {
  input:checked + label > svg {
    // Firefox doesn't render svg's that is loading with the use tag
    // if its been set to display: none and then toggled to display: block,
    // so you have to use tricks like this to get it to render again:
    height: 1.4rem;
    position: absolute;
    top: 0px;

    @include animation(draw-checkbox ease-in-out 0.2s forwards);
  }

  label:active::after {
    background-color: white;
  }

  label {
    color: $grey;
    line-height: $checkbox_dimension;
    cursor: pointer;
    position: relative;
    font-size: .9em;

    &:after {
      content: "";
      height: $checkbox_dimension;
      width: $checkbox_dimension;
      margin-right: 1rem;
      float: left;
      border: 2px solid rgba(117, 117, 117, 0.36);
      transition: 0.15s all ease-out;
      background: rgba(117, 117, 117, 0.36);
    }

    @include capital-first;
  }

  svg {
    stroke: white;
    background: $grey;
    stroke-width: 3px;
    height: 0;
    width: $checkbox_dimension;
    position: absolute;
    left: 0;
    top: 2px;
    stroke-dasharray: 33;
  }
}