/*

    Structure:

    <div class="fixed_social_web_outer_wrapper">
        <div class="fixed_social_web_wrapper">
            <div class="col_social_web_icon facebook text-center">
                <a href="">
                    <i class="fa fa-facebook"></i>
                </a>
            </div>
            <div class="col_social_web_icon twitter text-center">
                <a href="">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
            <div class="col_social_web_icon pinterest text-center">
                <a href="">
                    <i class="fa fa-pinterest"></i>
                </a>
            </div>
            <div class="col_social_web_icon whatsapp text-center">
                <a href="">
                    <i class="fa fa-whatsapp"></i>
                </a>
            </div>
            <div class="col_social_web_icon envelope text-center">
                <a href="">
                    <i class="fa fa-envelope"></i>
                </a>
            </div>
        </div>
    </div>

*/

.fixed_social_web_outer_wrapper {
  position: fixed;
  left: 0;
  top: 25%;
  display: block;
  width: 45px;
  z-index: 9999;

  .fixed_social_web_wrapper {
    hyphens: none;
    text-shadow: none;
    clear: both;
    line-height: 0;
    cursor: pointer;
    max-width: 100%;

    .col_social_web_icon {
      padding: 18% 10% 16% 10%;

      a {
        color: white;
        font-size: 1.250rem;
      }

      &.facebook {
        background-color: social("facebook")
      }

      &.twitter {
        background-color: social("twitter");
      }

      &.pinterest {
        background-color: social("pinterest");
      }

      &.whatsapp {
        background-color: social("whatsapp");
      }

      &.envelope {
        background-color: social("envelope");
      }

      a:hover {
        font-size: 1.250rem;

        @include animation("fade .3s ease");
        @include css3-prefix("transition", "all .1s ease");
      }
    }
  }
}

@media screen and(max-height: 800px) {
  .fixed_social_web_outer_wrapper {
    top: 25% + 15;
  }
}