/*
    Structure:

    <header class="header-theme__header">
      <div class="header-theme-logo__div">
        <figure>
          <img src="src/images/logo.png" alt="Logo Jerseypedia">
        </figure>
      </div>
      <div class="header-theme-navegation">
        <ul>
          <li>
            <a href="#">advanced search</a>
          </li>
          <li>
            <a href="#">about us</a>
          </li>
          <li>
            <a href="#">forum</a>
          </li>
          <li>
            <a href="#">blog</a>
          </li>
          <li>
            <a href="#" class="--active">profile</a>
          </li>
        </ul>
      </div>
    </header>
*/

$HEADER_BREAKPOINT: 768px;

.header-theme__header {
  background-color: black;
  display: flex;
  align-items: center;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
  width: 100%;
  height: 80px;

  @media(max-width: $HEADER_BREAKPOINT) {
    display: none
  }
}

.header-theme-logo__div {
  height: 80%;
  width: 15%;

  figure {
    padding: 8px;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;

    img {
      @include img-responsive;
      height: 100%;
    }
  }
}

.header-theme-navegation {
  width: 85%;
  height: 100%;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
    padding-left: 20%;

    li {
      margin: 0;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      width: auto;
      -ms-flex-align: center;
      align-items: center;
      color: blue;
      text-transform: uppercase;
      font-weight: bold;
      
      a {
        text-decoration: none !important;
  
        @include transition(color, .5s, ease);
        

        &:hover {
          color: lighten(purple, 20)
        }

        &.--active {
          color: purple
        }
      }
    }
  }
}