/* 
    Structure:


    <div>
      <span>Team</span>
      <label class="--font_select">
        <select id="team">	
          <option value="1" selected="selected">FC Barcelona</option>
          <option value="2">FC Real Madrid</option>
        </select>
      </label>
    </div> 
  
*/


label.--font_select {
  position: relative;
  line-height: 1;

  &:before {
    content: "\F078";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 1.2rem;
    color: $enlaces-botones;
    left: -5px;
    top: 1px;
    position: absolute;
    pointer-events: none;
  }

  label:before {
    content:'';
  }

  /* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
  
  select {
    padding: 3px 0 0 20px;
    margin: 0;
    background: transparent;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: auto;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    select {
      padding-right:18px
    }
  }
}