body {
  font-size: $base_font_size_body;
  font-family: 'Raleway', serif !important;
}

img,
object {
  max-width: 100%;
}

textarea {
  resize: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  word-break: break-word;
  margin: 0;
}

figure {
  margin: 0;
}

a {
  color: white;
  text-decoration-color: white;
  text-decoration: underline !important
}

p,
label {
  color: white
}