@font-face {
  font-family: 'maison_neueboolitalic';
  src: url('../../fonts/MaisonNeue-BoldItalic.ttf');
  src: url('../../fonts/maisonneue-bolditalic-webfont.woff2') format('woff2'),
  url('../../fonts/maisonneue-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}